/* fuentes */

@font-face{
	font-family:ubuntuRegular;
	src:url(fuentes/Ubuntu-R.ttf) format("truetype")
	
}

@font-face{
	font-family:ubuntuBold;
	src:url(fuentes/Ubuntu-B.ttf) format("truetype")
	
}
@font-face{
	font-family:ubuntuItalic;
	src:url(fuentes/Ubuntu-I.ttf) format("truetype")
	
}
@font-face{
	font-family:ubuntuBoldItalic;
	src:url(fuentes/Ubuntu-BI.ttf) format("truetype")
	
}




/* Etiquetas Generales */

#wrap{	
	float:inherit;
	width:950px;
	height:800px;
	margin: 0 auto;
	margin-top: 30px;
 	border: 1px solid silver;  
	background:#FFFFFF;
	}

body{
	float:inherit;
	margin: -1px -1px -1px -1px;	
	/* background-color:#F2F2F2; */	
	background:#F8F8F8;	
}


/* Cabecera */

#header{
	/* margin-top: 0px;		 */
	height: 90px;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(45deg, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow: 10px 10px 55px 5px #888888;	
	-moz-box-shadow: 10px 10px 55px 5px #888888;	
	-webkit-box-shadow: 10px 10px 55px 5px #888888;	
	-o-box-shadow: 10px 10px 55px 5px #888888;	
}


#marco{   /* estructura interna del header */
	/* background-color:white; */
	float:inherit;
	width:950px;	
	height: 80px;
	margin: 0 auto;	
 	/*border: 3px solid blue; */ 
}

#logo{
	float:left;
	margin:8px 5px;		
 	width:336px; height:80px;
 	/*border: 1px solid; */ 
}

#logo img{
	width: 100%;
	height: 100%;
}

#registro{
	float:left;
	margin-left: 100px;
	margin-top: 10px;	
	height:20px;	
	width:400px;		
	font-family:"Times New Roman"; 
 	/*border: 1px solid red; */  	  
}

#registro ul{
	clear:both;
	list-style:none;
	margin:0;	
}

#registro ul li {
	display:block;
	float:left;
	position:relative;
	list-style:none;
	margin-left:0px;	
	padding:0px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:13px;
	margin:0px;	
	font-family: 'Merienda One', sans-serif; 	
	text-shadow: -1px 2px 5px #0B0B3B;	
}

#registro ul li a:hover {
	font-size:14px;	
	color:#CCFF00;		
}

#registro ul li a{
	padding:15px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:13px;
	margin:0px;		
	font-family: 'Merienda One', sans-serif; 
}

#buscasitio{
	float:left;
	//background-color: green;
	margin-top:5px;	
	margin-left:10px;	
	margin-bottom:30px;	
	height:30px;	
	width:560px;		
	font-family:"Times New Roman"; 
 	/*border: 1px solid;  */
}

/* Parte principal (el slider) */

#principal {
	margin-top: 20px;
	background-color:white; 
	height:20%
	width: 100%;
	box-shadow: 0px 25px 30px #888888;		
	/* padding: 0px 0px 0px 20px; */
	opacity: 10;
}

#imagenes{	
	float:right;	
	background-color:blue; 	
	width:500px;
	height:300px;	

}

h2{
	font-family: 'Merienda One', sans-serif;
	font-size: 35px;
	color:#0B0B61;
	margin-left: 60px;
	text-shadow: -1px 2px 5px #0B0B3B;	
}

p.slider{
	margin-left: 60px;
	width:300px;
	height:100px;
	font-family: 'Merienda One', sans-serif;
	font-size: 16x;	
	color:#0A0A2A;
	/* border: 1px solid; */

}



/* Parte Secundaria (Los articulos) */




/*-------  Footer   ---------*/

#footer {	
	float:inherit;
	margin-top:50px;
	height:100px;
	width: 100%;
	border: 2px solid black;
	
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(left,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to right,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */

	box-shadow: 10px 10px 55px 5px #888888;	
	-moz-box-shadow: 10px 10px 55px 5px #888888;	
	-webkit-box-shadow: 10px 10px 55px 5px #888888;	
	-o-box-shadow: 10px 10px 55px 5px #888888;	
	
	}


#footer .marquito{   /* estructura interna del header */
	/* background-color:white; */
	float:inherit;
	width:950px;	
	margin: 0 auto;		

}

.pie{
	width:31%;	
	display:block;
	float:left;
	padding:0px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:13px;
	margin:10px;	
	font-family:ubuntuRegular;	
	text-shadow: -1px 2px 5px #0B0B3B;	
	border: 1px solid;	
}



/*Barra de busqueda*/
.form-wrapper #search {
	width: 420px;
	height: 13px;
	padding: 6px 10px;
	margin-left: 30px;
	margin-top: 5px;
	float: left;    
	font: 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #F8F8F8;;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 30px;  
}

.form-wrapper #search:focus {
	outline: 0; 
	border-color: #aaa;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;  
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
} 

.form-wrapper #submit {
	float: right;    
	border: 1px none #188E00;
	height: 30px;
	width: 80px;
	padding: 0;
	margin-top: 5px;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #fafafa;
	text-transform: uppercase;    
	background-color: #039F1D;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#50C230), to(#039F1D));
	background-image: -webkit-linear-gradient(top, #50C230, #039F1D);
	background-image: -moz-linear-gradient(top, #50C230, #039F1D);
	background-image: -ms-linear-gradient(top, #50C230, #039F1D);
	background-image: -o-linear-gradient(top, #50C230, #039F1D);
	background-image: linear-gradient(top, #50C230, #039F1D);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;      
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	border-radius: 30px;   

}
  
.form-wrapper #submit:hover,
.form-wrapper #submit:focus {		
	background-color: #50C230;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#039F1D), to(#50C230));
	background-image: -webkit-linear-gradient(top, #039F1D, #50C230);
	background-image: -moz-linear-gradient(top, #039F1D, #50C230);
	background-image: -ms-linear-gradient(top, #039F1D, #50C230);
	background-image: -o-linear-gradient(top, #039F1D, #50C230);
	background-image: linear-gradient(top, #039F1D, #50C230);
}	
  
.form-wrapper #submit:active {
	outline: 0;    
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}
  
.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}